.breadcrumbs {	
	padding-top: 1.5rem;
	margin-bottom: -2rem;
	// padding: 0.5rem;
	// border-bottom: $base-border;
	font-size: $small-font-size;

	&, a {
		color: lighten($base-font-color, 40%);
	}

	a {
		// font-weight: $boldweight;
		text-decoration: underline;
		&:hover {
			color: $color-1;
		}
	}
	
	.breadcrumb_last {
		// font-style: italic;
	}
}

// .breadcrumbs {
// 	margin-top: 1.5rem;
// 	margin-bottom: -2rem;
// 	// padding: 0.5rem;
// 	// border-bottom: $base-border;
// 	font-size: $small-font-size;
// 	// font-style: italic;

// 	li {
// 		display: inline-block;
// 	}

// 	a {
// 		// font-weight: $boldweight;
// 		text-decoration: underline;
// 		&:hover {
// 			color: $color-1;
// 		}
// 	}

// 	.trail-item {
// 		&:not(.trail-end){
// 			&:after {
// 				content: '>';
// 				margin-left: 4px;
// 				margin-right: 4px;
// 			}
// 		}

// 		&.trail-end {
// 			font-style: italic;
// 			// &:first-of-type {
// 			// 	display: none;
// 			// }
// 		}
// 	}

// }

