#menu-primary { 
	
	ul.menu-desktop {
		margin-bottom: 0;

		li {
			display: inline-block;

			a {
				display: block;
			}
		}

		> li {
			> a {
				@extend %default-heading;
				line-height: $base-line-height;
				font-weight: $bold-weight;
				text-transform: uppercase;
				padding: 0.75rem 0.75rem;
				color: $color-light;
				&:hover {
					color: $color-dark;
				}
			}

			/* Active */
			&.current-menu-item,
			&.current-menu-ancestor {
			// &.current-page-ancestor
				> a {			

					&:hover,
					&:focus {

					}
				}
			}

			&.menu-item-has-children:hover {
				> a {
				}
			}
		}

		/* Sub-menu */
		ul.sub-menu {
			display: none;
			position: absolute;
			z-index: 1;

			width: 240px;
			padding: 0.25rem 0 0.5rem;
			background-color: $color-2-b;
			color: $color-1;

			li {
				display: block;
				a {
					padding: 0.5rem 0.75rem;
					color: $color-light;
					line-height: 1.2;
					&:hover {
						color: $color-dark;
					}
				}
			}

		}	

		/* Expand sub-menu */
		.menu-item:hover > .sub-menu {
			display: block;
		}
	}
}
