#footer {
	overflow: hidden;
	.wrap {
		@include clearfix;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding: 3rem 3rem 3rem 5.5rem;

		max-width: $desktop-width;

		@include media($tablet) {
			max-width: $tablet-width;
			padding-left: 1rem;
			padding-right: 0;
		}

		@include media($smartphone) {
			max-width: $smartphone-width;
			padding-left: 2rem;
		}

		@include media($barebones) {
			padding-left: 0;
		}
	}	

	.widget {
		display: block;
	    float: left;
	    width: 25%;
	    padding-right: 0.5rem;
	    padding-left: 0.5rem;

	    @include media($smartphone) {
			width: 50%;
			margin-bottom: 1.5rem;

			&:nth-child(odd) {
				clear: both;
			}
		}

		@include media($barebones) {
			width: 100%;
			text-align: center;
		}
	}
}