body {
	background-color: $body-bg-color;
}

#header {
	background-color: $color-2-a;
	color: $color-light;
}

// Hide mobile menu
// .menu-items.menu-mobile,
.responsive-menu-icon {
	display: none;
}

@include media($tablet) {

	// Hide desktop menu
	.menu-items.menu-desktop {
		display: none
	}

	#menu-primary-mobile {
		display: block;
	}

	// Show mobile menu-button
	.responsive-menu-icon {
		display: block;
	}

}

#main {
	padding-top: 3rem;
	background-color: $base-bg-color;
}

.header-image-container {
	margin-left: -1rem;
	margin-right: -1rem;
}

//* Content Container
#content {
	text-align: center;

	.entry,
	.widget_black_studio_tinymce,
	.widget_text,
	.archive-header {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.widget_simpleimage {
		margin-bottom: 1rem;
	}
}



.after-content {
	border-top: 1px solid $color-2-a;
}

//* Sidebar primary
#sidebar-primary {

}


/** Column classes **/
.columns-2,
.columns-3,
.columns-4 {

	> div,
	> section,
	> li {
		padding: 0 2px;
		margin-bottom: 1rem;

		@include media($tablet) {
			padding: 2px 0;
		}
	}
}