@charset "UTF-8";
/* EJO Reset
   v0.3.1 | 20151004
*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, textarea, select, button, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main, menu,
nav,
section,
summary {
  display: block;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 * Remove default text-decoration underline
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/*------------------------------------------------------------------
Media
-------------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

audio,
video,
object,
embed,
iframe {
  max-width: 100%;
}

/*------------------------------------------------------------------
Links
-------------------------------------------------------------------*/
a {
  text-decoration: none;
}

/*------------------------------------------------------------------
Tables
-------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left;
}

tr,
td,
th {
  vertical-align: middle;
}

/*------------------------------------------------------------------
Forms
-------------------------------------------------------------------*/
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: auto;
}

textarea {
  resize: vertical;
}

input,
textarea,
select {
  max-width: 100%;
}

/*------------------------------------------------------------------
Buttons
-------------------------------------------------------------------*/
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  line-height: 1;
}

/*------------------------------------------------------------------
Lists
-------------------------------------------------------------------*/
ul,
ol {
  list-style-type: none;
  margin-left: 0;
}

/*------------------------------------------------------------------
Quotes
-------------------------------------------------------------------*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*------------------------------------------------------------------
Uncommon typography
-------------------------------------------------------------------*/
abbr[title],
acronym[title],
time[title] {
  cursor: help;
}

acronym {
  text-transform: uppercase;
}

address {
  font-style: italic;
}

pre {
  word-wrap: normal;
  font-family: monospace;
}

code {
  direction: ltr;
  text-align: left;
  font-family: monospace;
}

del,
s,
strike {
  text-decoration: line-through;
}

/*------------------------------------------------------------------
Helpers
-------------------------------------------------------------------*/
.clear {
  clear: both;
}

.hide,
.hidden {
  display: none;
}

.show-if-js {
  display: none;
}

.screen-reader-text {
  display: none;
}

/*
Font: 		Tide Sans
Style: 		300 Lil Kahuna
URL: 		http://www.youworkforthem.com/font/T4743/tide-sans
Foundry: 	Kyle Wayne Benson
Foundry: 	http://www.youworkforthem.com/designer/375/kyle-wayne-benson
Copyright:	 2013 Kyle Wayne
Version: 	1.4
Created:	April 20, 2014
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'TideSans';
  src: url("../fonts/tide-sans-300-lil-kahuna.eot");
  src: url("../fonts/tide-sans-300-lil-kahuna.eot?#iefix") format("embedded-opentype"), url("../fonts/tide-sans-300-lil-kahuna.woff") format("woff"), url("../fonts/tide-sans-300-lil-kahuna.ttf") format("truetype"), url("../fonts/tide-sans-300-lil-kahuna.svg#ywftsvg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/*
Font: 		Tide Sans
Style: 		400 Lil Dude
URL: 		http://www.youworkforthem.com/font/T4743/tide-sans
Foundry: 	Kyle Wayne Benson
Foundry: 	http://www.youworkforthem.com/designer/375/kyle-wayne-benson
Copyright:	 2013 Kyle Wayne
Version: 	1.4
Created:	April 20, 2014
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/
@font-face {
  font-family: 'TideSans';
  src: url("../fonts/tide-sans-400-lil-dude.eot");
  src: url("../fonts/tide-sans-400-lil-dude.eot?#iefix") format("embedded-opentype"), url("../fonts/tide-sans-400-lil-dude.woff") format("woff"), url("../fonts/tide-sans-400-lil-dude.ttf") format("truetype"), url("../fonts/tide-sans-400-lil-dude.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------------------------------------
Main typography
-------------------------------------------------------------------*/
html {
  font-size: 112.5%;
}

@media screen and (max-width: 560px) {
  html {
    font-size: 100%;
  }
}

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-family: "TideSans", arial, sans-serif;
  font-weight: 300;
  color: #3c3c3b;
  line-height: 1.875;
}

p,
ul,
ol,
dl,
table,
figure,
address,
blockquote,
pre,
code,
object,
hr,
.gallery,
.gform_wrapper,
audio,
video,
object,
embed,
iframe {
  margin-bottom: 1.875rem;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
figure:last-child,
address:last-child,
blockquote:last-child,
pre:last-child,
code:last-child,
object:last-child,
hr:last-child,
.gallery:last-child,
.gform_wrapper:last-child,
audio:last-child,
video:last-child,
object:last-child,
embed:last-child,
iframe:last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
Links
-------------------------------------------------------------------*/
a {
  transition: color 0.1s linear;
  color: #3c3c3b;
}

.entry-content a, .textwidget a, #content .entry-footer a {
  color: #b9a264;
  border-bottom: 1px solid transparent;
}

.entry-content a:hover, .textwidget a:hover, #content .entry-footer a:hover {
  border-bottom: 1px solid #b9a264;
}

.entry-content a.button, .textwidget a.button {
  color: #fff;
  border-bottom: none;
}

/*------------------------------------------------------------------
Headings
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
#menu-primary ul.menu-desktop > li > a, .responsive-menu-icon {
  font-family: "TideSans", arial, sans-serif;
  font-weight: 400;
  font-weight: 300;
  line-height: 1.2;
  color: #3c3c3b;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.77778rem;
  line-height: 1.2;
  margin-bottom: 33.75px;
}

@media screen and (min-width: barebones) {
  h1 {
    font-size: 2.55556rem;
  }
}

h2 {
  font-size: 1.66667rem;
  line-height: 1.2;
  margin-top: 42.1875px;
  margin-bottom: 33.75px;
}

@media screen and (min-width: barebones) {
  h2 {
    font-size: 1.38889rem;
  }
}

h3 {
  font-size: 1.44444rem;
  line-height: 1.2;
  margin-bottom: 30.375px;
}

@media screen and (min-width: barebones) {
  h3 {
    font-size: 1.16667rem;
  }
}

h4 {
  font-size: 1.22222rem;
  line-height: 1.2;
  margin-bottom: 16.875px;
}

@media screen and (min-width: barebones) {
  h4 {
    font-size: 0.94444rem;
  }
}

h5 {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0;
}

@media screen and (min-width: barebones) {
  h5 {
    font-size: 0.72222rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0;
}

@media screen and (min-width: barebones) {
  h6 {
    font-size: 0.72222rem;
  }
}

/*------------------------------------------------------------------
Titles
-------------------------------------------------------------------*/
/*** Site Title ***/
/*** Default Title Styles ***/
.entry-title,
.archive-title,
.widget-title {
  text-transform: uppercase;
}

/*** Entry Titles ***/
.entry-title a:hover {
  color: #b9a264;
}

h1.entry-title {
  margin-bottom: 1.25rem;
}

h1.entry-title:after {
  content: "";
  display: block;
  height: 4px;
  margin: 1rem auto 0;
  width: 30px;
  background-color: #b9a264;
}

h2.entry-title {
  margin-top: 0;
}

/*** Widget Titles ***/
.widget-title {
  margin-top: 0;
}

#content .widget-title {
  font-size: 2.77778rem;
  margin-bottom: 25.3125px;
}

@media screen and (min-width: barebones) {
  #content .widget-title {
    font-size: 2.5rem;
  }
}

#content .widget-title:after {
  content: "";
  display: block;
  height: 4px;
  margin: 1rem auto 0;
  width: 30px;
  background-color: #b9a264;
}

#footer .widget-title {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/*** Archive Titles ***/
.archive-title:after {
  content: "";
  display: block;
  height: 4px;
  margin: 1rem auto 0;
  width: 30px;
  background-color: #b9a264;
}

/*------------------------------------------------------------------
Custom Classes
-------------------------------------------------------------------*/
.intro {
  font-size: 1.11111rem;
  font-weight: 400;
}

/**
 * Tables
 */
th {
  border-bottom: 2px solid #b4b4b4;
}

td {
  border-bottom: 1px solid #b4b4b4;
}

/**
 * Lists
 */
ul,
ol {
  list-style-type: none;
  margin-left: 0;
}

.entry-content ul, .textwidget ul {
  list-style-type: disc;
  list-style-position: inside;
}

.entry-content ul li, .textwidget ul li {
  margin-bottom: 2px;
}

.entry-content ol, .textwidget ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.entry-content ol li, .textwidget ol li {
  margin-bottom: 2px;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  transition: border-color;
  padding: 5px 7px;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #9b9b9b;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #b9a264;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(177, 151, 82, 0.7);
}

/**
 * Buttons
 *
 * button,
 * html input[type="button"],
 * input[type="reset"],
 * input[type="submit"]
 */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #b9a264;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  padding: 0.55556rem 1rem 0.61111rem;
  line-height: 1;
  display: inline-block;
  width: auto;
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #b19752;
  text-decoration: none;
}

.button-alt {
  background-color: rgba(60, 60, 59, 0.1);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  font-weight: 300;
  padding: 0.77778rem 1.11111rem 0.83333rem;
  line-height: 1;
  display: inline-block;
  width: auto;
}

.button-alt:hover,
.button-alt:focus {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

/*------------------------------------------------------------------
Alignment
-------------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 1.25rem;
  margin-bottom: 0.75rem;
}

.alignright {
  float: right;
  margin-left: 1.25rem;
  margin-bottom: 0.75rem;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-left: auto;
}

.alignnone {
  float: none;
}

img.alignleft,
img.alignright {
  border-radius: 3px;
  display: inline;
}

/*------------------------------------------------------------------
WP classes
-------------------------------------------------------------------*/
body {
  background-color: #e5e5e5;
}

#container {
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

#header {
  background-color: #b4b4b4;
  color: #fff;
  position: fixed;
  z-index: 99;
  width: 100%;
}

#header .wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width: 320px;
  max-width: 1120px;
}

#header .wrap::after {
  clear: both;
  content: "";
  display: table;
}

#header .wrap #branding {
  float: left;
}

#header .wrap #menu-primary {
  float: right;
}

.responsive-menu-icon {
  display: none;
}

@media screen and (max-width: 1160px) {
  .menu-items.menu-desktop {
    display: none;
  }
  #menu-primary-mobile {
    display: block;
  }
  .responsive-menu-icon {
    display: block;
  }
}

#main {
  background-color: #fff;
  padding-top: 3.33333rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  max-width: 1120px;
}

@media screen and (max-width: 1160px) {
  #main {
    padding-top: 3.11111rem;
    max-width: 840px;
  }
}

@media screen and (max-width: 880px) {
  #main {
    max-width: 560px;
  }
}

@media screen and (max-width: 560px) {
  #main {
    padding-top: 3.55556rem;
  }
}

#main #content {
  position: relative;
  padding: 0 1rem;
}

#main #content::after {
  clear: both;
  content: "";
  display: table;
}

#main #content .entry,
#main #content .widget_black_studio_tinymce,
#main #content .widget_text,
#main #content .archive-header,
#main #content .breadcrumbs,
#main #content .pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media screen and (max-width: 1160px) {
  #main #content .entry,
  #main #content .widget_black_studio_tinymce,
  #main #content .widget_text,
  #main #content .archive-header,
  #main #content .breadcrumbs,
  #main #content .pagination {
    max-width: 640px;
  }
}

@media screen and (max-width: 880px) {
  #main #content .entry,
  #main #content .widget_black_studio_tinymce,
  #main #content .widget_text,
  #main #content .archive-header,
  #main #content .breadcrumbs,
  #main #content .pagination {
    max-width: 480px;
  }
}

#main #content .entry-content > img,
#main #content .entry-content > .full-width,
#main #content .textwidget > img,
#main #content .textwidget > .full-width {
  margin-left: -182px;
  margin-right: -182px;
}

#main #content .entry-content > img img + img,
#main #content .entry-content > .full-width img + img,
#main #content .textwidget > img img + img,
#main #content .textwidget > .full-width img + img {
  margin-top: 1rem;
}

@media screen and (max-width: 1160px) {
  #main #content .entry-content > img,
  #main #content .entry-content > .full-width,
  #main #content .textwidget > img,
  #main #content .textwidget > .full-width {
    margin-left: -82px;
    margin-right: -82px;
  }
}

@media screen and (max-width: 880px) {
  #main #content .entry-content > img,
  #main #content .entry-content > .full-width,
  #main #content .textwidget > img,
  #main #content .textwidget > .full-width {
    margin-left: -22px;
    margin-right: -22px;
  }
}

#main #content .entry-content > .normal-width,
#main #content .textwidget > .normal-width {
  margin-left: 0;
  margin-right: 0;
}

.header-image-container {
  margin-left: -1rem;
  margin-right: -1rem;
}

#content {
  text-align: center;
}

#content > .entry,
#content .widget_black_studio_tinymce,
#content .widget_text,
#content .archive-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#content .widget_simpleimage {
  margin-bottom: 1rem;
}

.after-content {
  border-top: 1px solid #b4b4b4;
}

#footer {
  overflow: hidden;
}

#footer .wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 3rem 3rem 3rem 5.5rem;
  max-width: 1120px;
}

#footer .wrap::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 1160px) {
  #footer .wrap {
    max-width: 840px;
    padding-left: 1rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 880px) {
  #footer .wrap {
    max-width: 560px;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 560px) {
  #footer .wrap {
    padding-left: 0;
  }
}

#footer .widget {
  display: block;
  float: left;
  width: 25%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media screen and (max-width: 880px) {
  #footer .widget {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  #footer .widget:nth-child(odd) {
    clear: both;
  }
}

@media screen and (max-width: 560px) {
  #footer .widget {
    width: 100%;
    text-align: center;
  }
}

/*------------------------------------------------------------------
Column Classes
-------------------------------------------------------------------*/
.columns::after {
  clear: both;
  content: "";
  display: table;
}

.columns > div,
.columns > section,
.columns > article,
.columns > li {
  float: left;
}

.columns-2 > div,
.columns-2 > section,
.columns-2 > article,
.columns-2 > li {
  width: 50%;
}

.columns-2 > div:nth-child(2n + 1),
.columns-2 > section:nth-child(2n + 1),
.columns-2 > article:nth-child(2n + 1),
.columns-2 > li:nth-child(2n + 1) {
  clear: both;
}

.columns-3 > div,
.columns-3 > section,
.columns-3 > article,
.columns-3 > li {
  width: 33.3333%;
}

@media screen and (max-width: 880px) {
  .columns-3 > div,
  .columns-3 > section,
  .columns-3 > article,
  .columns-3 > li {
    width: 100%;
  }
  .columns-3 > div img,
  .columns-3 > section img,
  .columns-3 > article img,
  .columns-3 > li img {
    max-width: none;
    width: 100%;
  }
}

.columns-3 > div:nth-child(3n + 1),
.columns-3 > section:nth-child(3n + 1),
.columns-3 > article:nth-child(3n + 1),
.columns-3 > li:nth-child(3n + 1) {
  clear: both;
}

.columns-4 > div,
.columns-4 > section,
.columns-4 > article,
.columns-4 > li {
  width: 25%;
}

.columns-4 > div:nth-child(4n + 1),
.columns-4 > section:nth-child(4n + 1),
.columns-4 > article:nth-child(4n + 1),
.columns-4 > li:nth-child(4n + 1) {
  clear: both;
}

/** Column classes **/
.columns {
  margin-left: -2px;
  margin-right: -2px;
}

.columns > div,
.columns > section,
.columns > article,
.columns > li {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1160px) {
  .columns > div,
  .columns > section,
  .columns > article,
  .columns > li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.columns .entry {
  margin-top: 0;
  margin-bottom: 36px;
}

.columns .entry .thumbnail-wrap {
  margin-bottom: 12px;
}

.columns .entry .entry-title {
  text-transform: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 9px;
  margin-bottom: 0;
}

.columns .entry a:hover {
  color: #b9a264;
}

#content .home-intro {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

@media screen and (max-width: 880px) {
  #content .home-intro {
    padding-top: 0;
  }
}

@media screen and (max-width: 1160px) {
  #content .home-intro iframe {
    height: 448px;
  }
}

@media screen and (max-width: 880px) {
  #content .home-intro iframe {
    height: 290px;
  }
}

#content .home-werkwijze {
  margin-bottom: 3rem;
}

#content .home-werkwijze .widget_simpleimage {
  margin-bottom: 0;
}

#content .home-diensten {
  margin-bottom: 3rem;
}

#content .home-blog {
  margin-bottom: 2rem;
}

/**
 * Gravity Forms structure sass
 * Version: 0.9.3
 **/
/* Reset */
body .gform_wrapper form ol,
body .gform_wrapper form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .gform_wrapper form li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Structure */
body .gform_wrapper form .gform_body {
  margin-bottom: 0.75rem;
}

body .gform_wrapper form .gform_footer {
  clear: both;
}

body .gform_wrapper form .gform_footer img {
  display: inline-block;
  margin-left: 0.75rem;
}

body .gform_wrapper form .gform_footer .button {
  padding: 0.75rem;
  min-width: 30%;
}

body .gform_wrapper form .gform_fields::after {
  clear: both;
  content: "";
  display: table;
}

body .gform_wrapper form .gfield {
  clear: both;
  margin-bottom: 1rem;
}

body .gform_wrapper form .gfield.hide {
  display: none;
}

body .gform_wrapper form .gsection {
  padding-top: 0.75rem;
}

body .gform_wrapper form .gfield_label {
  display: inline-block;
}

body .gform_wrapper form .gfield_label:empty {
  display: block;
  line-height: 0;
  visibility: hidden;
}

body .gform_wrapper form input[type="text"],
body .gform_wrapper form input[type="password"],
body .gform_wrapper form input[type="search"],
body .gform_wrapper form select,
body .gform_wrapper form textarea {
  margin-bottom: 0;
}

body .gform_wrapper form .small {
  width: 23%;
}

body .gform_wrapper form .medium {
  width: 48%;
}

body .gform_wrapper form .large {
  width: 100%;
}

body .gform_wrapper form .textarea {
  width: 100%;
}

body .gform_wrapper form ul.gfield_radio label,
body .gform_wrapper form ul.gfield_checkbox label {
  padding-left: 0.5rem;
  cursor: pointer;
}

body .gform_wrapper form .top_label .gfield_label {
  margin-bottom: 0.25rem;
}

body .gform_wrapper form .left_label .gfield_label {
  width: 30%;
  margin-right: 3%;
}

body .gform_wrapper form .left_label .small {
  width: 20%;
}

body .gform_wrapper form .left_label .medium {
  width: 40%;
}

body .gform_wrapper form .left_label .large {
  width: 67%;
}

body .gform_wrapper form .left_label .textarea {
  width: 40%;
}

body .gform_wrapper form .left_label .textarea.large {
  width: 67%;
}

body .gform_wrapper form .ggroup {
  margin-bottom: 0.75rem;
}

body .gform_wrapper form .ggroup::after {
  clear: both;
  content: "";
  display: table;
}

body .gform_wrapper form .ggroup .gfield {
  margin-bottom: 0.75rem;
}

body .gform_wrapper form .ggroup .gsection {
  padding-top: 0;
}

body .gform_wrapper form .gcolumn .gf_left_half,
body .gform_wrapper form .gcolumn .gcolumn, body .gform_wrapper form .gcolumn .gf_right_half, body .gform_wrapper form .gcolumn .gcolumn + .gcolumn {
  clear: none;
  float: none;
  padding-right: 0;
  padding-left: 0;
  width: auto;
}

body .gform_wrapper form .ginput_container::after {
  clear: both;
  content: "";
  display: table;
}

body .gform_wrapper form .gf_left_third,
body .gform_wrapper form .gf_left_half,
body .gform_wrapper form .gcolumn, body .gform_wrapper form .ginput_left {
  clear: left;
  float: left;
  margin-right: 2%;
  margin-left: 0;
}

body .gform_wrapper form .gf_right_half,
body .gform_wrapper form .gcolumn + .gcolumn, body .gform_wrapper form .gf_right_third,
body .gform_wrapper form .ginput_right {
  clear: right;
  float: right;
  margin-left: 2%;
  margin-right: 0;
}

body .gform_wrapper form .gf_middle_third {
  clear: none;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}

body .gform_wrapper form .gf_left_half,
body .gform_wrapper form .gcolumn, body .gform_wrapper form .ginput_left,
body .gform_wrapper form .gf_right_half,
body .gform_wrapper form .gcolumn + .gcolumn, body .gform_wrapper form .ginput_right {
  width: 48%;
}

body .gform_wrapper form .gf_left_third,
body .gform_wrapper form .gf_middle_third,
body .gform_wrapper form .gf_right_third {
  width: 30.66666%;
}

body .gform_wrapper form .gf_left_half .medium,
body .gform_wrapper form .gcolumn .medium, body .gform_wrapper form .gf_left_half .large,
body .gform_wrapper form .gcolumn .large, body .gform_wrapper form .gf_right_half .medium,
body .gform_wrapper form .gcolumn + .gcolumn .medium, body .gform_wrapper form .gf_right_half .large,
body .gform_wrapper form .gcolumn + .gcolumn .large, body .gform_wrapper form .gf_left_third .medium,
body .gform_wrapper form .gf_left_third .large,
body .gform_wrapper form .gf_middle_third .medium,
body .gform_wrapper form .gf_middle_third .large,
body .gform_wrapper form .gf_right_third .medium,
body .gform_wrapper form .gf_right_third .large {
  width: 100%;
}

body .gform_wrapper form .gf_list_inline ul.gfield_radio li,
body .gform_wrapper form .gf_list_inline ul.gfield_checkbox li {
  display: inline-block;
  margin-right: 12px;
}

body .gform_wrapper form .gf_list_inline ul.gfield_radio li input,
body .gform_wrapper form .gf_list_inline ul.gfield_radio li label,
body .gform_wrapper form .gf_list_inline ul.gfield_checkbox li input,
body .gform_wrapper form .gf_list_inline ul.gfield_checkbox li label {
  display: inline;
}

/* Sidebar */
body .widget .gform_wrapper form .small {
  width: 50%;
}

body .widget .gform_wrapper form .medium {
  width: 100%;
}

body .widget .gform_wrapper form .large {
  width: 100%;
}

body .widget .gform_wrapper form .textarea {
  width: 100%;
}

body .gform_wrapper form {
  /* === hide the honeypot field === */
}

body .gform_wrapper form .gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}

body .gform_wrapper form .gform_hidden {
  display: none;
}

/* Gravity form messages */
body .gform_wrapper form .validation_error {
  border: 1px solid #DDD;
  background-color: #EFEFEF;
  color: #333;
  font-style: italic;
  padding: 0.75rem;
  margin-bottom: 20px;
}

body .gform_wrapper form .gform_confirmation_message {
  background-color: #eeffee;
  border: 1px solid #acffac;
  color: #007900;
  padding: 0.5rem 0.75rem;
}

body .gform_wrapper form span.gfield_required {
  color: #790000;
  margin-left: 0.25rem;
}

body .gform_wrapper form .gfield_error {
  background-color: #ffeeee;
  border: 1px solid #ffd5d5;
  padding: 0 5px;
}

body .gform_wrapper form .gfield_error .validation_message {
  color: #790000;
}

body .gform_wrapper form .gfield_error .gfield_label {
  color: #790000;
}

/* ========= INFORMATION ============================

- document:  Slick Modals - HTML5 and CSS3 powered modal popups
- author:    Capelle @ Codecanyon
- profile:   http://codecanyon.net/user/Capelle
- version:   3.0

==================================================== */
/* ========================
   Reset and basics
   ======================== */
/* Main wrapper */
.slickModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.isActive {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}

.slickModal.isActive,
.isActive .overlay {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.slickModal,
.slickModal.isActive .window {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.slickModal.isActive .window {
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

.slickModal.isActive .overlay,
.slickModal.isActive .window {
  opacity: 1;
}

/* Overlay defaults */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

/* Window defaults */
.window {
  display: inline-block;
  position: absolute;
  margin: auto;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-transition-property: rotate, transform, opacity, scale, perspective;
  -moz-transition-property: rotate, transform, opacity, scale, perspective;
  -ms-transition-property: rotate, transform, opacity, scale, perspective;
  transition-property: rotate, transform, opacity, scale, perspective;
}

/* ========================
   Background defaults
   ======================== */
/* Blur */
.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/* Scale */
.scaled {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

/* ========================
   Modal window positions
   ======================== */
/* Center */
.window.center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Top */
.window.topLeft {
  top: 0;
  left: 0;
}

.window.topCenter {
  top: 0;
  left: 0;
  right: 0;
}

.window.topRight {
  top: 0;
  right: 0;
}

/* Bottom */
.window.bottomLeft {
  bottom: 0;
  left: 0;
}

.window.bottomCenter {
  bottom: 0;
  left: 0;
  right: 0;
}

.window.bottomRight {
  bottom: 0;
  right: 0;
}

/* On side */
.window.right {
  top: 0;
  right: 0;
  bottom: 0;
}

.window.left {
  top: 0;
  left: 0;
  bottom: 0;
}

/* ========================
   Modal window transitions
   ======================== */
/* Fade */
.window.fade {
  opacity: 0;
}

/* Zoom */
.window.zoomIn {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.window.zoomOut {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* Slide */
.window.slideTop {
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.window.slideBottom {
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

.window.slideLeft {
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}

.window.slideRight {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

/* Rotate */
.window.rotateIn {
  -webkit-transform: rotate(720deg) scale(0);
  -moz-transform: rotate(720deg) scale(0);
  -ms-transform: rotate(720deg) scale(0);
  transform: rotate(720deg) scale(0);
}

.window.rotateOut {
  -webkit-transform: rotate(720deg) scale(1.5);
  -moz-transform: rotate(720deg) scale(1.5);
  -ms-transform: rotate(720deg) scale(1.5);
  transform: rotate(720deg) scale(1.5);
}

/* Flip */
.window.flipHorizontal {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.window.flipVertical {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* Perpective */
.window.perspectiveTop {
  -webkit-transform: perspective(300px) rotateX(-90deg);
  -moz-transform: perspective(300px) rotateX(-90deg);
  -ms-transform: perspective(300px) rotateX(-90deg);
  transform: perspective(300px) rotateX(-90deg);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

.window.perspectiveBottom {
  -webkit-transform: perspective(300px) rotateX(90deg);
  -moz-transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  transform: perspective(300px) rotateX(90deg);
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

.window.perspectiveLeft {
  -webkit-transform: perspective(200px) rotateY(90deg);
  -moz-transform: perspective(200px) rotateY(90deg);
  -ms-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.window.perspectiveRight {
  -webkit-transform: perspective(200px) rotateY(-90deg);
  -moz-transform: perspective(200px) rotateY(-90deg);
  -ms-transform: perspective(200px) rotateY(-90deg);
  transform: perspective(200px) rotateY(-90deg);
  -webkit-transform-origin: center right;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
}

/* ========================
   Transition timing defaults
   ======================== */
.slickModal .linear {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}

.slickModal .ease {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
}

.slickModal .ease-in {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slickModal .ease-out {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.slickModal .ease-in-out {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* ========================
   Close buttons
   ======================== */
/* Basics */
.closeModal,
.openModal {
  cursor: pointer;
}

.slickModal .close {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 10;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.1s ease;
}

.slickModal .close:before {
  white-space: nowrap;
  display: block;
  position: relative;
  transition: all 0.1s ease;
}

/* Labeled button */
.slickModal .close.labeled:before {
  color: #fff;
  content: "close";
  font-size: 8px;
  text-transform: uppercase;
  background: linear-gradient(to right, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  padding: 6px 12px;
  margin-top: -10px;
}

.slickModal .close.labeled:hover:before {
  background-position: left bottom;
  color: #000;
}

/* Text button */
.slickModal .close.text:before {
  color: #fff;
  content: "Close";
  font-size: 9px;
  text-transform: uppercase;
}

/* Tag button */
.slickModal .close.tag:before {
  color: #fff;
  content: "\00d7";
  background: #000;
  text-align: center;
  font-size: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 20px;
  opacity: 0.2;
}

.slickModal .close.tag:hover:before {
  opacity: 1;
}

/* Icon button */
.slickModal .close.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 34px 12px 0 0;
  opacity: 0.3;
}

.slickModal .close.icon:hover:before {
  color: #000;
}

.slickModal .close.icon:before,
.slickModal .close.icon:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}

.slickModal .close.icon:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slickModal .close.icon:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slickModal .close.icon:hover {
  opacity: 1;
}

.site-branding a, .site-branding img {
  display: block;
}

.site-branding .site-title {
  padding-top: 18px;
  padding-bottom: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.site-branding img {
  max-height: 20px;
}

#menu-primary ul.menu-desktop {
  margin-bottom: 0;
  /* Sub-menu */
  /* Expand sub-menu */
}

#menu-primary ul.menu-desktop li {
  display: inline-block;
}

#menu-primary ul.menu-desktop li a {
  display: block;
}

#menu-primary ul.menu-desktop > li {
  /* Active */
}

#menu-primary ul.menu-desktop > li > a {
  line-height: 1.875;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.75rem 0.75rem;
  color: #fff;
}

#menu-primary ul.menu-desktop > li > a:hover {
  color: #3c3c3b;
}

#menu-primary ul.menu-desktop ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 240px;
  padding: 0.25rem 0 0.5rem;
  background-color: #cacaca;
  color: #b9a264;
}

#menu-primary ul.menu-desktop ul.sub-menu li {
  display: block;
}

#menu-primary ul.menu-desktop ul.sub-menu li a {
  padding: 0.5rem 0.75rem;
  color: #fff;
  line-height: 1.2;
}

#menu-primary ul.menu-desktop ul.sub-menu li a:hover {
  color: #3c3c3b;
}

#menu-primary ul.menu-desktop .menu-item:hover > .sub-menu {
  display: block;
}

#menu-primary-mobile {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 50;
  right: -320px;
  width: 320px;
  max-width: 100%;
  padding-top: 57px;
  background-color: #fff;
  border-left: 1px solid rgba(60, 60, 59, 0.1);
}

/* Mobile menu */
ul.menu-mobile {
  border-bottom: 1px solid rgba(60, 60, 59, 0.1);
  /* Top level */
}

ul.menu-mobile::after {
  clear: both;
  content: "";
  display: table;
}

ul.menu-mobile .menu-item {
  border-top: 1px solid rgba(60, 60, 59, 0.1);
}

ul.menu-mobile a {
  display: block;
  color: #3c3c3b;
}

ul.menu-mobile > .menu-item {
  position: relative;
}

ul.menu-mobile > .menu-item > a {
  padding: 15px 20px;
}

ul.menu-mobile > .menu-item > a:hover {
  background-color: #f7f7f7;
}

ul.menu-mobile > .menu-item .touch-button {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 15px 20px;
  background-color: rgba(60, 60, 59, 0.2);
  color: #fff;
}

ul.menu-mobile > .current-menu-ancestor > a,
ul.menu-mobile > .current-menu-item > a {
  background-color: #f7f7f7;
}

ul.menu-mobile .menu-item.expanded {
  background-color: white;
}

ul.menu-mobile .menu-item.expanded a {
  background-color: white;
}

ul.menu-mobile .menu-item.expanded a:hover {
  background-color: #f7f7f7;
}

ul.menu-mobile .sub-menu {
  display: none;
  padding: 2px 12px 10px;
}

ul.menu-mobile .sub-menu .menu-item:first-child {
  border-top: none;
}

ul.menu-mobile .sub-menu .menu-item a {
  padding: 8px 20px;
  font-size: 0.77778rem;
}

ul.menu-mobile .sub-menu .menu-item.current-menu-item > a {
  background-color: rgba(60, 60, 59, 0.1);
}

.responsive-menu-icon {
  text-transform: uppercase;
  padding: 1rem 1rem 0.94444rem 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.responsive-menu-icon:hover {
  color: #3c3c3b;
}

.responsive-menu-icon:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 5px;
}

.responsive-menu-icon.expanded:before {
  content: "";
  padding-right: 6px;
}

@media screen and (max-width: 560px) {
  .responsive-menu-icon {
    font-size: 1.16667rem;
  }
}

.header-image-container {
  position: relative;
  text-align: center;
}

.header-image-container .logo-post-container {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.header-image-container .logo {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 880px) {
  .header-image-container .logo-post-container {
    top: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header-image-container .logo {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 560px) {
  .header-image-container .logo-post-container {
    top: 20%;
  }
  .header-image-container .logo {
    margin-bottom: 10%;
  }
}

.header-image {
  margin: 0 auto;
}

.breadcrumbs {
  padding-top: 1.5rem;
  margin-bottom: -2rem;
  font-size: 0.88889rem;
}

.breadcrumbs, .breadcrumbs a {
  color: #a2a2a1;
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: #b9a264;
}

#content .entry-content h2:first-child {
  margin-top: 0;
}

#content .entry-byline {
  margin-top: 33.75px;
  margin-bottom: 1rem;
  font-style: italic;
}

#content .entry-footer {
  margin-bottom: -0.5rem;
  font-size: 0.88889rem;
}

.pagination {
  margin-bottom: 33.75px;
  background-color: #e5e5e5;
  padding: 0.25rem;
}

.pagination a:not(:last-child),
.pagination span:not(:last-child) {
  margin-right: 4px;
}

.pagination .current {
  font-weight: 400;
}

.pagination a:hover {
  text-decoration: underline;
}

.thumbnail-wrap {
  display: block;
  background-color: #3c3c3b;
}

.thumbnail-wrap:hover img {
  opacity: 0.7;
}

.thumbnail-wrap .thumbnail {
  margin: 0 auto;
}

.simple-image {
  position: relative;
}

.simple-image a:hover .title-wrap {
  background-color: rgba(60, 60, 59, 0.5);
}

.simple-image .title-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.simple-image .title-wrap table {
  height: 100%;
  width: 100%;
}

.simple-image .title-wrap table td {
  border: none;
}

.simple-image .title-wrap h4 {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.66667rem;
  color: #fff;
}

.simple-image .title-wrap h4:after {
  content: "";
  display: block;
  height: 4px;
  margin: 1rem auto 0;
  width: 30px;
  background-color: #b9a264;
  margin-bottom: 0;
}

@media screen and (max-width: 880px) {
  body .gform_wrapper form .medium {
    width: 100%;
  }
  body .gform_wrapper form .gf_left_half,
  body .gform_wrapper form .gcolumn, body .gform_wrapper form .gf_right_half,
  body .gform_wrapper form .gcolumn + .gcolumn, body .gform_wrapper form .gf_left_third,
  body .gform_wrapper form .gf_middle_third,
  body .gform_wrapper form .gf_right_third {
    clear: both;
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.gform_wrapper .gcolumn textarea {
  height: 210px;
}

.slickModal {
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  line-height: 1.25;
}

.slickModal .window {
  width: 350px;
  padding: 30px;
  margin: 30px 30px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.slickModal h1, .slickModal h2, .slickModal h3, .slickModal h4 {
  margin-bottom: 1.5rem;
  text-transform: none;
}

.slickModal p {
  margin-bottom: 1rem;
}

.slickModal .gform_wrapper {
  margin-bottom: 0.5rem;
}

.slickModal .gform_wrapper form .medium {
  width: 100%;
}

.language-selector {
  position: absolute;
  right: 0;
  background-color: white;
  padding: 0.22222rem 0.66667rem;
  margin-top: 1rem;
  margin-right: 0.75rem;
}

@media screen and (max-width: 880px) {
  .language-selector {
    position: static;
    right: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -1rem;
    padding-top: 1rem;
  }
}

.language-selector, .language-selector a {
  color: #979797;
}

.language-selector a:hover {
  color: #3c3c3b;
}

.language-selector a.active-language {
  border-bottom: 1px solid #979797;
}

.language-selector a.active-language:hover {
  border-color: #3c3c3b;
}

.entry-content .social-media, .textwidget .social-media {
  list-style: none;
  margin: 0;
}

.entry-content .social-media li, .textwidget .social-media li {
  display: inline-block;
}

.entry-content .social-media a:hover, .textwidget .social-media a:hover {
  text-decoration: none;
  border-bottom: none;
}

.social-media li {
  margin-right: 1rem;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a:hover i {
  color: #b19752;
}

.social-media i:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
}

.social-media .twitter:before {
  content: "";
}

.social-media .facebook:before {
  content: "";
}

.social-media .instagram:before {
  content: "";
}

.social-media .google-plus:before {
  content: "";
}

.social-media .pinterest:before {
  content: "";
}

#footer {
  background-color: #b4b4b4;
}

#footer, #footer a {
  color: #222222;
}

#footer .widget {
  font-family: "TideSans", arial, sans-serif;
  font-size: 0.83333rem;
  line-height: 1.65;
}

#footer .menu li {
  margin-bottom: 10px;
}

#footer .menu .sub-menu {
  padding-top: 10px;
  padding-left: 20px;
}

#footer a:hover {
  border-bottom: 1px solid #3c3c3b;
}
