//* Colors
$color-1: #b9a264;
$color-2-a: #b4b4b4;
$color-2-b: #cacaca;
$color-2-c: #979797;

$color-light: #fff;
$color-dark: #3c3c3b;

$base-font-color: #3c3c3b;
$heading-font-color: #3c3c3b;
$action-color: $color-1;

$body-bg-color: #e5e5e5;
$base-bg-color: $color-light;